<html>
<body>
    <h4>across calcio</h4>
    <br>

    <h4>Recipient</h4>
    <p>
        {{ order.first_name }} {{ order.last_name }}<br>
        {{ order.email }}<br>
        {{ order.address }}<br>
        {{ order.postal_code }} {{ order.city }}
    </p>
    <br>
    <h4>
        Invoice: Order {{ order.id }}</br>
        <span class="secondary">{{ order.created|date:"d.m.Y" }}</span>
    </h4>
    <br>
    <h4>Ordered items</h4>
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Amount</th>
                <th>Costs</th>
            </tr>
        </thead>
        <tbody>
        {% for item in order.items.all %}
            <tr class="row{% cycle "1" "2" %}">
                <td>{{ item.product.name }}{% if item.product.player_available.values|length > 1 %}<br>Player: {% for i in item.get_product_attributes %}{{ i.1 }} x {{ i.0 }} {% endfor %}{% endif %}</td>
                <td class="num">€{{ item.price }}</td>
                <td class="num">{{ item.quantity }}</td>
                <td class="num">€{{ item.get_cost }}</td>
            </tr>
        {% endfor %}
            <tr class="total">
                <td colspan="1">Total</td>
                <td colspan="2">+shipping 5,50 €</td>
                <td class="num">€{{ order.get_total_cost_incl_shipment }}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>