{% extends "index.html" %}
{% load static %}

{% block description %}
    The best players in the history of {{ team.name}} illustrated by {{ team.illustrated_by.name }}.
{% endblock %}
{% block title %}
    {{ team.name}}
{% endblock %}

{% block content %}
    <div class="container py-1">
        <span>
            <h1 style="display:inline;">{{ team.name }}</h1>
            <h2 style="display:inline;">
                {% if team.country.flag_image %}
                    <img title="{{ team.country }}" src="{{ team.country.flag_image.url }}" style="height:2em;max-height:64px;vertical-align:top;">
                {% endif %}
            </h2>
        </span>
        <div class="row no-gutters">
            <div class="col-12">
                <h4 style="color:#092f57;">
                    <a href="{% url 'club_allstar_team_list' %}" style="text-decoration:none; color:#092f57;">Club Allstar Teams</a> >
                    {{ team.name }}
                </h4>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6 illustrator-info text-left">
                <h4>illustrated by</h4>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-5 col-sm-6 col-6 illustrator-info text-align-responsive">
                <span>
                    <h4 style="display:inline;">{{ team.illustrated_by.name }}</h4>
                    {% if team.illustrated_by.country.flag_image %}
                        <img  title="{{ team.illustrated_by.country }}" src="{{ team.illustrated_by.country.flag_image.url }}" width="28" style="display:inline;vertical-align:top;">
                    {% endif %}
                </span>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12 illustrator-info text-right">
                {% if team.illustrated_by.instagram %}
                    <a title="insta" target="_blank" href="{{ team.illustrated_by.instagram }}"><i class="fab fa-instagram fa-2x fa-fw" style="color:#092f57;"></i></a>
                {% endif %}
                {% if team.illustrated_by.twitter %}
                    <a title="insta" target="_blank" href="{{ team.illustrated_by.twitter }}"><i class="fab fa-twitter fa-2x fa-fw" style="color:#092f57;"></i></a>
                {% endif %}
                {% if team.illustrated_by.webpage %}
                    <a title="insta" target="_blank" href="{{ team.illustrated_by.webpage }}"><i class="fas fa-globe fa-2x fa-fw" style="color:#092f57;"></i></a>
                {% endif %}
                {% if team.illustrated_by.mail %}
                    <a title="insta" target="_blank" href="mailto:{{ team.illustrated_by.mail }}"><i class="fas fa-envelope fa-2x fa-fw" style="color:#092f57;"></i></a>
                {% endif %}
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 logo-info text-left">
                <span>
                    <i style="display:inline;" title="honors" class="fas fa-trophy fa-2x fa-fw"></i>
                    <h4  title="national honors" style="display:inline;">{{ team.national_honors }}</h4>
                    <i title="national honors" class="fas fa-flag fa-fw"></i>
                    <h4  title="international honors" style="display:inline;">+ {{ team.international_honors }}</h4>
                    <i title="international honors" class="fas fa-globe-europe fa-fw"></i>
                </span>
            </div>
            <div class="col-sm-9 col-12 logo-info text-left">
                <span>
                    <h4 style="display:inline;">Founded in {{ team.founded_in }}</h4>
                </span>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 logo-info text-left">
                <span>
                    <h4 style="display:inline;">Most Games</h4>
                </span>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 logo-info text-left">
                <span>
                    <h4 style="display:inline;">Most Goals</h4>
                </span>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 logo-info text-left">
                <span>
                    <h4 style="display:inline;">Most Titles</h4>
                </span>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 logo-info text-left">
                <span>
                    <h4 style="display:inline;">Most Influence</h4>
                </span>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 logo-info text-left">
                <span>
                    <h4 style="display:inline;">{{ most_games.games }} {{ most_games }}</h4>
                </span>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 logo-info text-left">
                <span>
                    <h4 style="display:inline;">{{ most_goals.goals }} {{ most_goals }}</h4>
                </span>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 logo-info text-left">
                <span>
                    <h4 style="display:inline;">{{ most_titles.honors }} {{ most_titles }}</h4>
                </span>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 logo-info text-left">
                <span>
                    <h4 style="display:inline;">{{ most_influence }}</h4>
                </span>
            </div>
        </div>
        <div class="row no-gutters">
            {% for player in team.players %}
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 player-illustration">
                    <a href="{% url "allstar_player_detail" player.id player.slug %}">
                        <img src="{{ player.thumbnail.url }}" class="image" >
                        <div class="carousel-caption d-none d-md-block">
                            <h2 style="background-color: #edbd2b;">{{ player.person.name }}{% if player.one_club_man %}<br><i title="one club man" class="fas fa-medal" style="color:#092f57;"></i>{% endif %}</h2>
                        </div>
                    </a>
                </div>
            {% endfor %}
            {% for manager in team.manager %}
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 player-illustration">
                    <a href="{% url "allstar_player_detail" manager.id manager.slug %}">
                        <img src="{{ manager.thumbnail.url }}" class="image">
                        <div class="carousel-caption d-none d-md-block">
                            <h2 style="background-color: #edbd2b;">{{ manager.person.name }}{% if manager.one_club_man %}<br><i title="one club man" class="fas fa-medal" style="color:#092f57;"></i>{% endif %}</h2>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        {% if team.honorable_mentions %}
        <div class="row no-gutters">
            <div class="col-12 logo-info text-left">
                <h4>Honorable mentions</h4>
            </div>
            <div class="col-xl-4 col-lg-3 col-md-4 col-sm-6 col-12 illustrator-info text-left">
                <h4>Name</h4>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-6 illustrator-info text-left">
                <h4>Club years</h4>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-6 illustrator-info text-left">
                <h4>Position</h4>
            </div>
            <div class="col-xl-1 col-lg-1 col-md-4 col-4 illustrator-info text-left">
                <h4>Games</h4>
            </div>
            <div class="col-xl-1 col-lg-1 col-md-4 col-4 illustrator-info text-left">
                <h4>Goals</h4>
            </div>
            <div class="col-xl-1 col-lg-1 col-md-4 col-4 illustrator-info text-left">
                <h4>Titles</h4>
            </div>
            {% for m in team.honorable_mentions %}
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                    <span>
                        <h4 style="display:inline;" title="{{ m.birth_date }}">{{ m.person.name }}
                            {% if m.one_club_man %}
                                <i title="one club man" class="fas fa-medal"></i>
                            {% endif %}
                            {% if m.person.death_date %}
                                <i title="{{ m.person.death_date }}" class="fas fa-cross"></i>
                            {% endif %}
                        </h4>
                        {% if m.person.nationality.flag_image %}
                            <img title="{{ m.person.nationality }}" src="{{ m.person.nationality.flag_image.url }}" width="28" style="display:inline;vertical-align:top;">
                        {% endif %}
                    </span>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-6">
                    <h4>{{ m.club_years }}</h4>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-6">
                    {% if m.is_manager %}
                        <h4>Manager</h4>
                    {% else %}
                        <h4>{{ m.get_position_display }}</h4>
                    {% endif %}
                </div>
                <div class="col-xl-1 col-lg-1 col-md-4 col-4">
                    <h4>{{ m.games }}{% if m.still_active %}+{% endif%}</h4>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-4 col-4">
                    <h4>{{ m.goals }}{% if m.still_active %}+{% endif%}</h4>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-4 col-4">
                    <h4>{{ m.honors }}{% if m.still_active %}+{% endif%}</h4>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
{% endblock %}