{% extends "index.html" %}
{% load static %}

{% block description %}
    {{ player.team.name }} Allstar: {{ player.name}}
{% endblock %}
{% block title %}
    {{ player.name}}
{% endblock %}

{% block content %}
    <div class="container py-1">
        <span>
            <h1 style="display:inline;">{{ player.person.name }}</h1>
            <h2 style="display:inline;">
                {% if player.one_club_man %}
                    <i title="one club man" class="fas fa-medal fa-2x" style="vertical-align:top;"></i>
                {% endif %}
                {% if player.person.death_date %}
                    <i title="{{ player.person.death_date }}" class="fas fa-cross fa-2x" style="vertical-align:top;"></i>
                {% endif %}
                {% if player.person.nationality.flag_image %}
                    <img  title="{{ player.person.nationality }}" src="{{ player.person.nationality.flag_image.url }}" style="height:2em;max-height:64px;vertical-align:top;">
                {% endif %}
            </h2>
        </span>
        <div class="row no-gutters">
            <div class="col-12">
                <h4 style="color:#092f57;">
                    <a href="{% url 'club_allstar_team_list' %}" style="text-decoration:none; color:#092f57;">Club Allstar Teams</a> >
                    <a href="{% url 'allstar_team_detail'  id=player.team.id slug=player.team.slug %}" style="text-decoration:none; color:#092f57;">{{ player.team.name }}</a> >
                    {{ player.person.name }}
                </h4>
            </div>
            <div class="col-12 col-sm-6 col-md-6 player-illustration-detail">
                <img src="{{ player.illustration.url }}" class="image">
            </div>
            <div class="col-12 col-sm-6 col-md-6 player-illustration-detail">
                <table class="table table-hover">
                    <tr>
                        <td scope="col"><h4>Birth date:</h4></td>
                        <td scope="col" class="text-right"><h4>{{ player.person.birth_date }}</h4></td>
                    </tr>
                    {% if not player.is_manager %}
                    <tr>
                        <td scope="col"><h4>Position:</h4></td>
                        <td scope="col" class="text-right"><h4>{{ player.get_position_display }}</h4></td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td scope="col"><h4>{% if player.is_manager == True %} Manager of{% else %}played for{% endif %} {{ player.team.name }} between:</h4></td>
                        <td scope="col" class="text-right"><h4>{{ player.club_years }}</h4></td>
                    </tr>
                    <tr>
                        <td scope="col"><h4>Games:</h4></td>
                        <td scope="col" class="text-right"><h4>{{ player.games }}{% if player.still_active %}+{% endif%}</h4></td>
                    </tr>
                    {% if not player.is_manager %}
                    <tr>
                        <td scope="col"><h4>Goals:</h4></td>
                        <td scope="col" class="text-right"><h4>{{ player.goals }}{% if player.still_active %}+{% endif%}</h4></td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td scope="col"><h4>Titles:</h4></td>
                        <td scope="col" class="text-right"><h4>{{ player.honors }}{% if player.still_active %}+{% endif%}</h4></td>
                    </tr>
                </table>
                {% if same_person %}
                    <div class="col-12 illustrator-info text-left">
                        <h4>also represents</h4>
                    </div>
                    {% for s in same_person %}
                        <h4><a href="{% url 'allstar_player_detail'  id=s.id slug=s.slug %}" style="text-decoration:none; color:#092f57;">{{ s.team.name }}</a></h4>
                    {% endfor %}
                {% endif %}
            </div>

        </div>
    </div>
{% endblock %}