{% extends "index.html" %}
{% load static %}

{% block title %}
    {{ team.name}}
{% endblock %}

{% block content %}
    <div class="container" style="margin-top:8vw">
        <h1>{{ team.name }}
            {% if team.country.flag_image %}
                <img src="{{ team.country.flag_image.url }}" style="height:1em;max-height:64px;vertical-align:middle;">
            {% endif %}
        </h1>
        <div class="row no-gutters">
            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6 illustrator-info text-left">
                <h4>illustrated by</h4>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-5 col-sm-6 col-6 illustrator-info text-align-responsive">
                <span>
                    <h4 style="display:inline;">{{ team.illustrated_by.name }}</h4>
                    {% if team.illustrated_by.country.flag_image %}
                        <img src="{{ team.illustrated_by.country.flag_image.url }}" width="28" style="display:inline;vertical-align:top;">
                    {% endif %}
                </span>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12 illustrator-info text-right">
                {% if team.illustrated_by.instagram %}
                    <a title="insta" target="_blank" href="{{ team.illustrated_by.instagram }}"><i class="fab fa-instagram fa-2x fa-fw" style="color:#092f57;"></i></a>
                {% endif %}
                {% if team.illustrated_by.twitter %}
                    <a title="insta" target="_blank" href="{{ team.illustrated_by.twitter }}"><i class="fab fa-twitter fa-2x fa-fw" style="color:#092f57;"></i></a>
                {% endif %}
                {% if team.illustrated_by.webpage %}
                    <a title="insta" target="_blank" href="{{ team.illustrated_by.webpage }}"><i class="fas fa-globe fa-2x fa-fw" style="color:#092f57;"></i></a>
                {% endif %}
                {% if team.illustrated_by.mail %}
                    <a title="insta" target="_blank" href="mailto:{{ team.illustrated_by.mail }}"><i class="fas fa-envelope fa-2x fa-fw" style="color:#092f57;"></i></a>
                {% endif %}
            </div>
        </div>
        <!--{% if team.logo_by %}
        <div class="row no-gutters">
            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-5 logo-info text-left">
                <h5>Logo design</h5>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-5 col-sm-6 col-6 logo-info text-align-responsive">
                <h5>{{ team.logo_by.name }}</h5>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12 logo-info text-right">
                {% if team.logo_by.instagram %}
                    <a title="insta" target="_blank" href="{{ team.logo_by.instagram }}"><i class="fa fa-instagram fa-2x fa-fw" style="color:#f06990;"></i></a>
                {% endif %}
                {% if team.logo_by.twitter %}
                    <a title="insta" target="_blank" href="{{ team.logo_by.twitter }}"><i class="fa fa-twitter fa-2x fa-fw" style="color:#f06990;"></i></a>
                {% endif %}
                {% if team.logo_by.webpage %}
                    <a title="insta" target="_blank" href="{{ team.logo_by.webpage }}"><i class="fa fa-globe fa-2x fa-fw" style="color:#f06990;"></i></a>
                {% endif %}
                {% if team.logo_by.mail %}
                    <a title="insta" target="_blank" href="mailto:{{ team.logo_by.mail }}"><i class="fa fa-envelope fa-2x fa-fw" style="color:#f06990;"></i></a>
                {% endif %}
            </div>
        </div>
        {% endif %}-->
        <div class="row no-gutters">
            {% for player in team.players %}
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 player-illustration">
                    <a href="{% url "allstar_player_detail" player.id player.slug %}">
                        <img src="{{ player.thumbnail.url }}" class="image" >
                        <div class="carousel-caption d-none d-md-block">
                            <h2 style="background-color: #edbd2b;">{{ player.name }}{% if player.one_club_man %}<br><i title="one club man" class="fas fa-medal" style="color:#092f57;"></i>{% endif %}</h2>
                        </div>
                    </a>
                </div>
            {% endfor %}
            {% for manager in team.manager %}
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 player-illustration">
                    <a href="{% url "allstar_player_detail" manager.id manager.slug %}">
                        <img src="{{ manager.thumbnail.url }}" class="image">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}