{% extends "index.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}
    {% trans "Privacy Policy" %}
{% endblock %}

{% block content %}
<div class="container-fluid py-1">
    <h1>Disclaimer</h1>
    <h3>English version to follow...</h3>
    <h2>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</h2>
    <p>Steffen Schwarzwald<br>
    49082 Osnabrück, Deutschland<br>
    <i class="fa fa-envelope fa-fw"></i><a style="text-decoration:none" href="mailto:acrosscalcio@gmail.com">acrosscalcio@gmail.com</a></p>
    <h2>Hinweis zu Fotos und Daten</h2>
    <p>Fotos und Daten unterliegen nicht der Gemeinfreiheit (Public Domain) sondern sind Eigentum der Betreiber. Die Verwedung von Fotos sowie Daten ist nur mit schriftlicher Genehmigung der Betreiber sowie Eigentümer der Inhalte gestattet.</p>
    <h2>Haftungsbeschränkung</h2>
    <p>Der Betreiber, Steffen Schwarzwald, üernimmt keinerlei Gewähr für die Aktualität, Korrektheit, Vollständigkeit oder Qualität der bereitgestellten Informationen. Haftungsansprüche gegen die Betreiber, welche sich auf Schäden materieller oder ideeller Art beziehen, die durch die Nutzung oder Nichtnutzung der dargebotenen Informationen bzw. durch die Nutzung fehlerhafter und unvollständiger Informationen verursacht wurden, sind grundsätzlich ausgeschlossen, sofern seitens der Betreiber kein nachweislich vorsätzliches oder grob fahrlässiges Verschulden vorliegt. Alle Angebote sind freibleibend und unverbindlich. Die Betreiber behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.</p>
    <h2>Urheberrechte</h2>
    <p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Beiträge Dritter sind als solche gekennzeichnet. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.</p>
    <h2>Verweise und Links</h2>
    <p>Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich. Alle innerhalb des Internetangebotes genannten und ggf. durch Dritte geschützten Marken- und Warenzeichen unterliegen uneingeschränkt den Bestimmungen des jeweils gültigen Kennzeichenrechts und den Besitzrechten der jeweiligen eingetragenen Eigentümer. Allein aufgrund der bloßen Nennung ist nicht der Schluss zu ziehen, dass Markenzeichen nicht durch Rechte Dritter geschützt sind.</p>
    <h2>Streitschlichtung</h2>
    <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
    <h2>Icons and Logos</h2>
    <p>All functional icons are taken from <a href="https://fontawesome.com">Font awesome</a>.</p>
    <p>Some Club Logos are made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
</div>
{% endblock %}