body {
    font-family: "Impact", fantasy;
}
/* ---------  NAVBAR  ----------*/
.navbar-brand>img {
  width: 5vw;
  height: auto;
  padding: 0;
}
@media (max-width: 767px) {
    .navbar-brand>img {
        width: 10vw;
    }
}

.nav-item {
    font-size:20px;
    color: #f06990;
}
.navbar-custom {
    background-color:#092f57;
    color:#f06990;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#f06990;
}

.navbar-custom .navbar-nav > .active > a {
    color: #ffffff;
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: #0082CA;
}

.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom .navbar-toggle {
    background-color:#eeeeee;
}
.navbar-custom .icon-bar {
    background-color:#092f57;
}